---
layout: "default"
---
<a href = "/" class = "btn-posts">All Posts</a>
<a href = "/home-gis/" class = "btn-posts-active">GIS Projects</a>
<a href = "/home-other/" class = "btn-posts">Other Projects</a>

{% for post in site.posts %}
    {% if post.type =='GIS'%}
        <h2 class="post-list"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <h5 class="post-list"><em>{{ post.date | date: "%B %-d %Y" }}</em></h5>
        <p class="post-list">{{ post.blurb }}</p>
    {% endif %}
{% endfor %}


{{ content }}